
<div id="colorblindradios" class="">
       <div class="colorblindbutton">
        <i class="icon-eye"></i>
       </div>
       <div class="radio-group">
      <div class="radiopair">
            <input type="radio" id="colorblind1" class="radio" name="colorblind"" value="Normal" checked><label for="colorblind1">Normal</label>
            </div>
            <div class="radiopair">
            <input type="radio" id="colorblind2" class="radio" name="colorblind" value="Deuteranomaly"><label for="colorblind2">Deuteranomaly</label>
            </div>
            <div class="radiopair">
            <input type="radio" id="colorblind3" class="radio" name="colorblind" value="Protanomaly"><label for="colorblind3">Protanomaly</label>
            </div>
            <div class="radiopair">
            <input type="radio" id="colorblind4" class="radio" name="colorblind" value="Protanopia"><label for="colorblind4">Protanopia</label>
            </div>
            <div class="radiopair">
            <input type="radio" id="colorblind5" class="radio" name="colorblind" value="Deuteranopia"><label for="colorblind5">Deuteranopia</label>
            </div>
          <div class="radiopair">
            <input type="radio" id="colorblind6" class="radio" name="colorblind" value="Grayscale"><label for="colorblind6">Grayscale</label>
            </div>

</div>
<div class="clearfix"></div>
</div>
