 {% for i in page.typography.fonts %}
<article>
    <div class="row">
    <div class="col-sm-8">
        <div class="letters" style="font-family: {{ i.css_input }}">
            Aa
        </div>
        <div class="alphabet" style="font-family: {{ i.css_input }}">
            ABCDEFGHIJKLMNOPQRSTUVWXYZ
            <br>abcdefghijklmnopqrstuvwxyz
            <br>1234567890!@#$%^&*()
        </div>
    </div>
    <div class="font-aside col-sm-4">
        <div class="elem-title">
            {{ i.name }} <a href="{{ i.link_to_homepage }}" alt="{{ i.name }} homepage"><i class="icon-external-open"></i></a>
        </div>
        <div class="elem-notes">
            {{ i.notes }}
        </div>
    </div>
</div>
</article>{% endfor %}