 <div class="row">
 {% for i in page.typography.fonts %}
<article class="col-sm-6">
	<div class="section-heading">
		<div>
			{{ i.name }} <a href="{{ i.link_to_homepage }}" alt="{{ i.name }} homepage"><i class="icon-external-open"></i></a>
		</div>
	</div>
	<div class="">
		<div class="fontdesc">
			<div class="section-notes notes">
				{{ i.notes }}
			</div>
		</div>
		<div>
				<div class="font">
					<div class="letters" style="font-family: {{ i.css_input }}">
						Aa
					</div>
					<div class="alphabet"  style="font-family: {{ i.css_input }}">
						ABCDEFGHIJKLMNOPQRSTUVWXYZ <br>abcdefghijklmnopqrstuvwxyz <br>1234567890!@#$%^&*()
					</div>
			</div>
		</div>
	</div>
</article>{% endfor %}
</div>