 {% for i in page.typography.headings %}
<article>
    <div style=" {% for t in i %}
		 {% if t[0] != " heading_name " %}
		  {{ t[0] }}: {{t[1] }};
		  	 {% endif %}
		 {% endfor %}">
        The quick brown fox jumps over the lazy dog
    </div>
    <div class="elem-desc">
        <span class="elem-title-sm">
				{{ i.heading_name }}
			</span>&ensp;
				 {% for t in i %}
			 {% if t[0] != "heading_name" %}
			 {% if t[1] != "" %}
			 <span class="elem-meta">
			   {{ t[1] }} </span>
			  	 {% endif %}
			  	 {% endif %}
			 {% endfor %}
		 {% if i.notes %}
        <div class="elem-notes">
            {{ i.notes }}
        </div>
        {% endif %}
    </div>
</article>
{% endfor %}