<header>
	<div class="inner-head">
    {% if page.layout!="home" %}
    <div class="header-label">
        Website Style Guide
    </div>
    <h1>{{ page.title }}</h1>
    {% if page.program_partners %}
    <div class="project-program">
    {{ page.program_partners }} </div>
    {% endif %} {% if page.date %}
    <div class="project-date">Last Updated {{ page.date | date: "%B %-d, %Y" }}</div>{% endif %}
    
    {% endif %} {% if page.layout=="home" %} Home {% endif %}
   
</div>
 <aside id="menu">
        {% include menu.html %}
    </aside>
</header>