 {% for i in page.typography.headings %}
<style>

</style>


<article class="heading row">
	<div class="col-sm-12 col-md-8" style=" {% for t in i %}
		 {% if t[0] != "heading_name" %}
		  {{ t[0] }}: {{t[1] }};
		  	 {% endif %}
		 {% endfor %}">
		The quick brown fox jumps over the lazy dog
	</div>
	<div class="col-sm-12 col-md-2">
		<div class="section-heading">
			{{ i.heading_name }}
		</div>
		<div class="section-notes notes">
			{{ i.notes }}
		</div>
		<div class="section-data">
			 {% for t in i %}
		 {% if t[0] != "heading_name" %}
		  {{ t[1] }}
		  	 {% endif %}
		 {% endfor %}

		</div>




		
			
	</div>
</article>

{% endfor %}