{% for colors in i.colors %}
{% if colors %}
	<div class="barcontainer">


		<div class="swatch swatchsquare" data-copy="{{ colors.hex_code }}">
			<div class="swatch-color" style="background-color: {{ colors.hex_code }}">
				<div class="copybutton">COPY HEX</div>
			</div>
			<div class="swatch-info meta">
				<span class="label">HEX: </span><span class="hex">{{ colors.hex_code }}</span><br>
				<span class="label">RGB: </span><span class="rgb"></span>	<br>
				<span class="label">CMYK: </span><span class="cmyk">{{ colors.hex_code }}</span>
			
			</div>
		</div>
	{% endif %}
</div>
{% endfor %}