<article>
    {% assign my_array = "" | split: ',' %} {% for t in i.link %} {% for x in t %} {% if forloop.index0 == 0 %}
    <div>Grumpy wizards make a <span class="elem-link-base" style="
{% for y in x %}
{% for item in y %}
            {{ item[0] }}: {{ item[1] }};
    {% endfor %}{% endfor %}">toxic brew</span> for the evil queen and jack. </div>
    <div class="elem-desc">
        <span class="elem-title-sm">
                Default&ensp;
            </span>
        <span class="elem-meta"></span>
    </div>
</article>
{% elsif forloop.index0 == 1 %}
<article>
    <div>Grumpy wizards make a <span class="elem-link-hover" style="
{% for y in x %}
{% for item in y %}
            {{ item[0] }}: {{ item[1] }};
    {% endfor %}{% endfor %}">toxic brew</span> for the evil queen and jack.</div>
    <div class="elem-desc">
        <span class="elem-title-sm">
                Hover&ensp;
            </span>
        <span class="elem-meta"></span>
    </div>
</article>
{% elsif forloop.index0 == 2 %}
<article>
    <div>Grumpy wizards make a <span class="elem-link-visited" style="
{% for y in x %}
{% for item in y %}
            {{ item[0] }}: {{ item[1] }};
    {% endfor %}{% endfor %}">toxic brew</span> for the evil queen and jack.</div>
    {% endif %} {% endfor %}
    <div class="elem-desc">
        <span class="elem-title-sm">
                Visited&ensp;
            </span>
        <span class="elem-meta"></span>
    </div>
</article>
{% endfor %}