 {% if i.height %} {% assign height = i.height %} {% endif %}
<article class="subsection">
    <div class="elem-title">
        {{ i.logo_name }}
    </div>
    <div class="row {% if i.dark_background %}
padded
{% endif %}">
        <div class="col-sm-12 col-md-6">
            <div class="lt-logo">
                <img src="{{ i.upload_logo | relative_url }}" {% if i.height %}style="height:{{ height }}" {% endif %}>
            </div>
            <div class="img-download">
                <div class="elem-subtitle">Light Background</div>
                {% if i.upload_logo %}
                <div class="elem-meta">
                    <a href="{{ i.upload_logo | relative_url }}" download="{{ i.logo_name }} SVG">SVG<i class="icon-download"></i></a>
                </div>
                {% endif %} {% if i.upload_logo__png %}
                <div class="elem-meta">
                    <a href="{{ i.upload_logo__png | relative_url }}" download="{{ i.logo_name }} PNG">PNG<i class="icon-download"></i></a>
                </div>
                {% endif %}
            </div>
        </div>
        {% if i.dark_background %}
        <div class="col-sm-12 col-md-6">
            <div class="dk-logo" style="background-color: {{ i.bg-color }};">
                <img src="{{ i.dark_background | relative_url }}" {% if i.height %}style="height:{{ height }}" {% endif %}>
            </div>
            <div class="img-download">
                <div class="elem-subtitle">Dark Background</div>
                {% if i.dark_background %}
                <div class="elem-meta">
                    <a href="{{ i.dark_background | relative_url }}" download="{{ i.logo_name }} SVG">SVG<i class="icon-download"></i></a>
                </div>
                {% endif %} {% if i.dark_background__png %}
                <div class="elem-meta">
                    <a href="{{ i.dark_background__png | relative_url }}" download="{{ i.logo_name }} PNG">PNG<i class="icon-download"></i></a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</article>