
{% if i.height %}
{% assign height = i.height %}
{% endif %}



<div class="section-subtitle">
{{ i.logo_name }}
</div>
<div class="row {% if i.dark_background %}
padded
{% endif %}">
<div class="col-sm-12 col-md-6 logo">
<img src="{{ i.upload_logo | relative_url }}" {% if i.height %}height="{{ height }}"{% endif %}>
</div>

{% if i.dark_background %}
<div class="col-sm-12 col-md-6 logo">
<img src="{{ i.dark_background | relative_url }}" {% if i.height %}height="{{ height }}"{% endif %} style="background-color: {{ i.bg-color }};">

</div>
{% endif %}
</div>
