<article>
	<div class="row {% if i.discard == true %}
	discard
	{% endif %}">
		<div class="col-xs-12 col-sm-12 col-md-9 article-ex row">
			{% for t in i %}
			<div class="col-xs-6 col-md-2">
				{% if t[0] != 'discard' && if t[0] != 'notes' %}
				<div class="swatch swatchround" data-copy="{{ t[1] }}">
					<div class="swatch-container">
						<div class="swatch-color" style="background-color: {{ t[1] }}">
							<div class="copybutton">Copy HEX</div>
						</div>

					</div>
					<div class="swatch-info">
						<span class="label">HEX: </span><span class="hex">{{ t[1] }}</span>
						<br>
						<span class="label">RGB: </span><span class="rgb"></span>
					</div>
				</div>
				{% endif %}

			</div>
			{% endfor %}
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 initial-info">
			<div class="section-heading">Color Group {{ forloop.index }}</div>
			<div class="notes">{{ i.notes }}</div>

		</div>
	</div>
</article>