<aside id="sidebar">
	<div class="open-button">
		<span> </span>
		<span> </span>
		<span> </span>
	</div>
	<nav id="menu" class="mobile-menu">
		<!-- List of Pages -->

		<div class="sidebar-title"><span>iDeas Lab</span>
			<br> Style Guides</div>
		{% assign current_page = page.title %}

		<ul id="sidebarlinks">
			{% for page in site.html_pages %} {% if page.layout == "home" %}

			<a href="{{ page.url | prepend: site.baseurl | remove: " index.html " }}">
				{% if page.title == "home" %}
				<li class="page-links selected">Sup{{ page.title }}</li>
				{% else %}
				<li class="page-links">{{ page.title }}</li>
				{% endif %}
			</a>

			{% endif %} {% endfor %} {% for page in site.html_pages %} {% if page.layout != "home" %} {% if page.title == current_page %}
			<a href="{{ page.url | prepend: site.baseurl }}">
				<li class="selected">{{ page.title }}</li>
			</a>
			<ul id="subitems">

				{% if page.initial_styles.show_this_section == true %}


				<li><a href="#typography">Typography</a></li>
				<li><a href="#colors">Colors</a></li>
				<li><a href="#logos">Logos</a></li>
				{% else %} {% if page.typography %}
				<li><a href="#typography">Typography</a></li>
				{% endif %} {% if page.colors %}
				<li><a href="#colors">Colors</a></li>
				{% endif %} {% if page.links %}
				<li><a href="#links">Links</a></li>
				{% endif %} {% if page.buttons %}
				<li><a href="#buttons">Buttons</a></li>
				{% endif %} {% if page.tables %}
				<li><a href="#tables">Tables</a></li>
				{% endif %} {% if page.logos %}
				<li><a href="#forms">Form Elements</a></li>
				{% endif %} {% endif %}
			</ul>
			{% else %}
			<li class="page-links"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
			{% endif %}{% endif %} {% endfor %}
		</ul>

		<!-- List of sections -->
		<ul class="links">
			{% for page in site.pages %} {% if page.layout == "page" %} {% endif %} {% endfor %}
		</ul>

	</nav>

</aside>