<aside id="sidebar">

	<!-- List of Pages -->
	<nav id="menu">
		{% assign current_page = page.title %}

		<ul class="links">
			{% for page in site.pages %} {% if page.layout == "home" %}

			<li><a href="{{ page.url | prepend: site.baseurl | remove: " index.html " }}">{{ page.title }}</a></li>

			{% endif %} {% endfor %} {% for page in site.pages %} {% if page.layout != "home" %} {% if page.title == current_page %}
			<li class="selected"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
			<ul id="subitems">
				{% if page.typography %}
				<li><a href="#typography">Typography</a></li>
				{% endif %} {% if page.colors %}
				<li><a href="#colors">Colors</a></li>
				{% endif %} {% if page.links %}
				<li><a href="#links">{Links</a></li>
				{% endif %} {% if page.buttons %}
				<li><a href="#buttons">Buttons</a></li>
				{% endif %} {% if page.tables %}
				<li><a href="#tables">Tables</a></li>
				{% endif %} {% if page.logos %}
				<li><a href="#forms">Form Elements</a></li>
				{% endif %}
			</ul>
			{% else %}
			<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
			{% endif %}{% endif %} {% endfor %}
		</ul>

		<!-- List of sections -->
		<ul class="links">
			{% for page in site.pages %} {% if page.layout == "page" %} {% endif %} {% endfor %}
		</ul>

	</nav>

</aside>