<div class="col-xs-6">
    <article>
        <div class="color" data-copy="{{ color.hex_code }}">
            <div class="swatch" style="background-color: {{ color.hex_code }}">
                <div class="copybutton">COPY HEX</div>
            </div>
            <div class="elem-subtitle"></div>
            <div class="elem-meta">
                HEX: <span class="hex">{{ color.hex_code }}</span>
                <br> RGB: <span class="rgb"></span>
            </div>
        </div>
    </article>
</div>