<section id="one" class="tiles">
        {% for page in site.html_pages | sort  %}
        {% if page.title != "Home" %}
        <a href="{{ site.baseurl }}{{ page.url }}" class="link"><article>
                <h2>{{ page.title }}</h2>
                <hr>
                <div class="clearfix"></div>
                <div class="meta">{{ page.program_partners }}</div>
                <div class="meta"><span class="label">LAST UPDATED: </span>{{ page.date | date: "%B %-d, %Y" }}</div>
                {% if page.initial_styles.show_this_section == true %}
			<div class="show-initial-styles">
				In Development
			</div>
			
		{% endif %}
        </article>
        </a>
         {% endif %}
        {% endfor %}
</section>