<section id="one" class="tiles">
        {% for page in site.html_pages | sort  %}
        {% if page.title != "Home" %}
        <article>
            <div class="site-info">
                <div class="header-label">
       
    </div>
               <div class="sitelink" ><a href="{{ site.baseurl }}{{ page.url }}"  alt="{{ page.title }} Style Guide">{{ page.title }}</a></div>
             

                <div class="clearfix"></div>
                 {% if page.initial_styles.show_this_section == true %} <span class="initial-styles-label">In Development</span> {% endif %}
                {% if page.program_partners %}
                 <div class="project-program">{{ page.program_partners }}</div>
                {% endif %}
                <div class="project-date">Last Updated {{ page.date | date: "%B %-d, %Y" }}</div>

        </div>
            <!-- <div class="screenshot-container">
			<img class="homepage-screenshot" alt="{{ page.title }} Screenshot" src="{{ page.screenshot | relative_url }}">
            </div> -->
		
        </article>
      
         {% endif %}
        {% endfor %}
        <div class="clearfix"></div>
</section>