 {% for i in page.typography.elements %} {% assign my_array = "" | split: ',' %} {% for t in i %} {% if t[0] != "element_name" and t[0] != "notes" and t[0] != "html_text" and t[0] != "extra_css" %} {% assign my_array = my_array | push: t %} {% endif %} {% endfor %}
<article>
    <div style="
	{% for item in my_array %}{{ item[0] }}:{{ item[1] }};{% endfor %}">


        {{ i.html_text }}
    </div>
    <div class="elem-desc">
        <span class="elem-title-sm">
				{{ i.element_name }}&ensp;</span>
        <span class="elem-meta">
				 {{ i.font-family }} </span>
        <span class="elem-meta"> {{ i.font-size }} </span>
        <span class="elem-meta">{{ i.line-height }} </span>
        <span class="elem-meta">{{ i.color}} 
		</span> {% if i.notes %}
        <div class="elem-notes">
            {{ i.notes }}
        </div>
        {% endif %}
    </div>
</article>
{% endfor %}