#colors {
	.colorrow {
		display: flex;
		flex-direction: row;
		position: relative;
		align-items: stretch;
	}
	.swatch {
		display: flex;
		flex-direction: column;
		padding: 0 1rem;
		margin-bottom: 2rem;

		&.swatchsquare {
			padding: 0 0;
		}
	}
}



.swatch-container {
	width: 120px;
	height: 120px;
}

.swatch-color {
	display: block;
	height: 100px;
	width: 100px;
	margin: 0 auto;
	@include transition(height 0.3s ease-in-out, width 0.3s ease-in-out);


	.copybutton {
		opacity: 0; //position: absolute;
		display: block;
		content: 'COPY';
		z-index: 3;
		height: 100px;
		width: 100px;
		text-align: center;
		display: block;
		padding-top: 30%;
		@include transition(opacity 0.3s ease-in-out, height 0.3s ease-in-out, width 0.3s ease-in-out);
	}
}


.copyview .copybutton {
	opacity: 1; //position: absolute;
}

.copyview .swatch-color,
.copyview .copybutton {
	height: 110px;
	width: 110px;
	@include transition(height 0.3s ease-in-out, width 0.3s ease-in-out);
}

.darktext {
	color: black;
}

.lighttext {
	color: white;
}

.swatch-info {
	font-size: 14px;
	line-height: 1.3;
}


.swatchsquare .swatch-color {
	width: 100% !important;
}

.swatchround .swatch-color {
	border-radius: 50%;
	&:hover:after {
		border-radius: 50%;
	}
}

.interswatches {
	display: flex;
	flex-direction: column;

	.swatch-group {
		display: flex;
		flex-direction: row;
	}
}

.swatchsquare {
	display: flex;
	flex-direction: row;
}

.color-group{
	display: block;
	width: 100%;
}

