.logo {
	position: relative;
	div {
		position: relative;
		width: 100%;
		padding: 1rem 0;
	}
	.download-capable:after {
		width: 100%;
		display: block;
		line-height: 100%;
		color: white;
		font-size: 2rem;
		font-family: 'fontello';
		content: '\eaed';
		opacity: 0;
		text-align: center;
		position: absolute;
		top: calc(50% - 1rem);
		vertical-align: baseline;
		@include transition(opacity 250ms);
	}
	&.show-bg .download-capable:before,
	&.show-bg .download-capable:after {
		opacity: .9;
	}
	&.show-download .download-capable:after {
		content:'';
	}

	.download-capable:before {
		background-color: $color-bluegray;
		width: 100%;
		height: 100%;
		display: block;
		line-height: 100%;
		color: white;
		font-size: 2rem;
		font-family: 'asp';
		content: '';
		opacity: 0;
		text-align: center;
		position: absolute;
		top: 0%;
		@include transition(opacity 250ms);
	}

	img {
		width: calc(100% - 2rem);
		display: block;
		margin: 2rem auto;
	}
}

#logos a div {
	padding: 1rem 0;
}

.logo.show-bg:after {
	color: red;
}

.logo .img-download {

	flex-direction: row;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	height: 100%;
	display: none;
}

.logo.show-download .img-download {
	display: flex;
	.download-btn a {
		color: red;
		text-decoration: none;
		color: #f2f2f2;
		font-size: 1.3rem;
		font-weight: normal;
		@include transition(color 250ms ease-in);
		&:hover {
			color: white;
			@include transition(color 250ms ease-in);
		}
	}
}


.initial-styles .logo img{
	width:auto !important;
	margin: 0;
}

#logos .subsection{
	margin: 0rem 0rem 1rem;
}