.tiles {
	article {
		border: 1px solid $color__footer;
		padding: 2rem;
			@include transition(background-color 0.3s ease-in-out);

	}
	h2 {
margin: 0;
}

hr {
	width: 75px;
	float: left;
	color: black;
	border: 2px solid $color-text-numbers;
	margin-bottom: 1rem;
				@include transition(border 0.3s ease-in-out);

}
	h2, a {
		color: black;
		text-decoration: none;
		font-weight: 300;
		&:hover {

		}
	}
}

.show-initial-styles {
	display: block;
	background-color: $color__background-box;
	padding: .25rem .5rem;
	width: 200px;
text-align: center;
margin-top: 1rem;
			@include transition(background-color 0.3s ease-in-out);


}

.tiles {
	article:hover {
		background-color: $color__background-box;

		hr {
			border-color: $color-bluegray;
		}
		.show-initial-styles {
			background-color: white;
		}
	}
}