/*===============================================
=           Layout          				  =
===============================================*/

@import "header";
@import "footer";
@import "sidebar";
@import "home";

html {
	overflow-x: hidden;
}

body {}

.content-wrapper {
	display: block;
	margin-left: 0%;
	padding: 1rem .5rem;
	clear: both;
	background-color: $color__background-body;
	max-width: $size__container-max-width;

	@include breakpoint("medium") {
		margin-left: $size__sidebar-md;
		padding: 2rem 3rem;
	}
	@include breakpoint("large") {
		margin-left: $size__sidebar-lg;
		padding: 2rem 4rem;
	}
}

.html-item {
	display: block;
}


section {
	padding: 1rem 2rem;
	margin-bottom: 3rem;
	@include breakpoint("medium") {
		margin-bottom: 6rem;
	}
}

.subsection {
	display: block; //padding: 2rem 4rem;
	margin: 2rem 0rem 4rem;
	background-color: $color__background-section;

	&:last-of-type {
		margin: 2rem 0rem 0rem;
	}
}

article {
	//border-bottom: 1px solid lightgray;
	padding: 1rem 0;
	&:first-of-type {
		margin-top: 0px;
	}
}


.article-info-left {
	height: 100%;
	display: block;
	border-top: 2px solid $color__background-pre;
	padding-top: 1rem;
	@include breakpoint("medium") {
		border-top: unset;
		padding-left: 1rem;

		padding-top: unset;
		border-left: 2px solid $color__background-pre;
	}
}


.article-info-right {
	border-top: 2px solid $color__background-pre;
	padding-right: 1rem;
	height: 100%;
	margin-right: 2rem;
	@include breakpoint("medium") {
		border-top: unset;
		
			border-right: 2px solid $color__background-pre;

	}
}

.discard {
	opacity: .2;
}

.meta {
	//color: $color-text-gray;
	font-size: 16px;
	.label {}
}

#fonts {
	background-color: $color__background-box;
	padding: 1rem 2rem;
	@include breakpoint("medium") {
			padding: 2rem 4rem;
		}
}


.initial-styles {
	article {

		border-bottom: 1px solid lightgray;
		padding: 0;
	}
	.article-ex {
		padding: 2rem 0;
		order: 2;
		@include breakpoint("medium") {
			order: 1;
		}
	}
	.section-title {
		margin-bottom: 0;
	}
	.initial-info {
		background-color: $color__background-box;
		padding: 3rem 2rem;
		order: 1;
		@include breakpoint("medium") {
			order: 2;
		}
	}
}

.fontdesc {
	.section-notes {
		padding-right: 1rem;
	}
}

section#home-header{
	padding: 1rem 2rem;
		margin-bottom: 1rem;
}

section#page-header {
	margin-bottom: 1rem;
	background-color: $color__background-header;

	.content-wrapper {
		background-color: $color__background-header;
	}
}