/*===============================================
=           Layout          				  =
===============================================*/

@import "header";
@import "footer";
@import "sidebar";

html{
	overflow-x: hidden;
}

.content-wrapper {
	display: block;
	margin-left: $size__sidebar-sm;
	padding: 2rem 2rem;
	clear: both;
	width: 100%;
	@include breakpoint("medium") {
		margin-left: $size__sidebar-md;
		padding: 2rem 3rem;

	}
	@include breakpoint("large") {
		margin-left: $size__sidebar-lg;
		padding: 2rem 4rem;
		max-width: $size__container-max-width;
	}
}

.html-item {
display: block;
}

/* article {
	border-bottom: 1px solid lightgray;
} */