 /*===============================================
=            		Typography      	      =
===============================================*/

 body {
     font-weight: 300;
     font-family: $font__roboto;
     font-size: 1em;
 }



 .letters {
     font-size: 80px;
     display: block;
     float: left;
     margin-right: 1rem;
 }

 .alphabet {
     display: block;
     float: left;
     font-size: 20px;
 }

 .section-title h2 {
     font-family: $font__roboto;
     font-weight: 300;
     font-size: 32px;
     border-bottom: 1px solid #A9A9A9;
 text-align: center;
 margin-top: 5rem;
     .section-num {
         color: #A9A9A9;
     }

}
 .subsection-title {
     font-weight: 500;
     font-size: 22px;
     margin-left: 25px;
     &:after {
     	display: block;
     	content: '';
     		width: 50px;
     		height: 8px;
     		border-bottom: 3px solid black;
     		//margin-bottom: 2rem;
     }
     &.light {
     	color:white;
     	font-weight: 400;
     	text-transform: uppercase;
     	letter-spacing: 1px;
     	font-size: 20px;
     	&:after {
     		border-bottom: 3px solid #9B9B9B;
     	}
     }
 }

 .elem-title {
     font-weight: normal;
     font-size: 20px;
     display: block;
     width: 100%;
     margin-bottom: 1rem;
 }


 .elem-subtitle {
 	font-weight: 500;
 	font-size: 16;
 	letter-spacing: 1px;
 	text-transform: uppercase;

 	padding-top: .5rem;
 }
 .elem-title-sm {
     font-weight: normal;
     font-size: 18px;

 }

 .elem-desc {
 	padding-top: .5rem;
 }

 #typography .elem-meta {
     &:after {
         display: inline-block;
         content: "|";
         color: #A9A9A9;
     }
     &:last-child:after {
         content: "";
     }
 }

 .elem-notes {
     font-weight: normal;
     color: #A9A9A9;
 }

.font-aside {
	border-left: 2px solid #DAD7DB;
	.elem-title, .elem-notes {
	     margin-bottom: .5rem;
	padding-left: 1rem;
}
}


 .copybutton {}

#typogprahy .elem-meta {
     &:after {
         display: inline-block;
         content: "|";
         color: #A9A9A9;
     }
     &:last-child:after {
         content: "";
     }
 }


 .img-download .elem-meta {
 	display: block;
 	float: left;
 	margin-right: 1rem;
 	a{
 		color: black;
 		text-decoration: none;
 	}
 	a:hover {
 		color: #C54628;
 	}
 }	

 .button {
 	display: inline-block;
 }