/*==============================
=            Colors            =
==============================*/

$color-dkblue: #22292D;
$color-text-gray: #A9A9A9;


/*==================================
=            Typography            =
==================================*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');


$font__roboto: 'Roboto',
sans-serif;


/*==================================
=            Spacing            =
==================================*/
$mobile-margin: 1rem;